.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-panel-description {
    justify-content: stretch;
}

.remove-btn-container {
    display: flex;
    min-width: 30%;
    justify-content: start;
}

.permissions-form-container {
    margin-top: 20px;
}